*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
#mode{
    width: 30px;
    cursor: pointer;
    position: relative;
    left: 90%;
    top: 20%;
}
:root{
    --primary-color: #edf2fc;
    --secondary-color:#212121;
}
.dark-theme{
    --primary-color: #000106;
    --secondary-color:#fff;
}
.container{
    width: 100%;
    min-height: 100vh;
    background: var(--primary-color);
    padding: 10px;
}
.todo-app{
    width: 100%;
    max-width: 540px;
    background: var(--secondary-color);
    margin: 100px auto 20px; /*adding margin left and right side auto allow the white boc to be in the center*/
    padding: 40px 30px 70px;
    border-radius: 10px;
}
.todo-app h2{
    color: var(--primary-color);
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.todo-app h2 img{
    width: 30px;
    margin-left: 10px;
}
.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--primary-color);
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}
input{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    font-weight: 14px;
    color: var(--secondary-color);
}
#Add{
    border: none;
    outline: none;
    padding: 16px 50px;
    background: var(--primary-color);
    color: #555;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;
}
#Add:hover{
    color:var(--secondary-color);
}
ul li{
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
    color: var(--primary-color);
}
ul li::before{
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(images/unchecked.png);
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;
}
ul li.checked{
color: #555;
text-decoration: line-through;
}
ul li.checked::before{
    background-image: url(images/checked.png);
}
ul li span{
    position: absolute;
    right: 0;
    top: 10px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #555;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}
ul li span:hover{
    background: #edeef0;
}
#edit{
    position: relative;
    left: 70%;

    bottom: 40%;
    border-radius: 10%;
    padding: 10px;
    text-align: center;
    background-color: var(--primary-color);
    color: var(--secondary-color)
}
